@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

nav {
    margin: auto;
    margin-top: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    .logo {
        width: 90px;
    }
    .burger, .burgerclose {
        width: 34px;
    }
    .nav_links, .burgerclose {
        display: none;
    }
}

.mobilenav_links {
    display: none;
    margin-top: 5%;
    width: 100%;
    position: absolute;
    list-style: none;
    background-color: black;
    z-index: 10;
    li {
        margin: 4vh;
        text-align: center;
        a {
            text-decoration: none;
            color: white;
            font-size: 18px;
        }
    }
}

main {
    margin-top: 5%;
    
    .title-block {
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 5%;

        .heroimg {
            width: 100%;
        }
        .cta-container {
            display: flex;
            flex-direction: column;
            .title {
                margin-top: 10%;
                font-size: 36px;
                font-weight: bold;
                text-align: center;
            }
            button {
                background-color: black;
                border: none;
                width: 160px;
                height: 50px;
                margin: auto;
                margin-top: 10%;
                font-size: 24px;
                font-weight: bold;
                a {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }

    .packages {
        margin-top: 20%;
        display: flex;
        flex-direction: column;

        label {
            margin: auto auto 5% auto;
            font-size: 24px;
            font-weight: 600;
        }
        .pack {
            width: 350px;
            height: 280px;
            margin: auto auto 10px auto;
            box-shadow: 5px 5px 7px #999;
            display: grid;
            grid-template-areas: 'header header' 
            't1 t2'
            'm1 m2'
            'info info'
            'info2 info2'
            'price price';
            .packname {
                grid-area: header;
                text-align: center;
                background-color: black;
                color: white;
                height: 60px;
                font-weight: 700;
                font-size: 24px;
                line-height: 60px;
            }

            p {
                text-align: center;
            }

            .pmb1, .pmb2, .price {
                font-weight: bold;
                font-size: 24px;
            }

            .ptime1 {
                grid-area: t1;
            }
            .ptime2 {
                grid-area: t2;
            }
            .pmb1 {
                grid-area: m1;
            }
            .pmb2 {
                grid-area: m2;
            }
            .info1 {
                grid-area: info;
            }
            .info2{
                grid-area: info2;
            }
            .price {
                grid-area: price;
            }
        }
    }

    .contact {
        display: flex;
        flex-direction: column;
        margin-top: 10%;

        h1 {
            margin: auto;
            font-size: 24px;
        }

        .call {
            margin: auto;
            margin-top: 5%;
            h2,a {
                text-align: center;
                font-size: 18px;
                font-weight: 600;
                display: block;
                text-decoration: none;
                color: black;
            }
        }

        .email {
            margin: auto;
            margin-top: 5%;
            h2,a {
                text-align: center;
                font-size: 18px;
                font-weight: 600;
                display: block;
                text-decoration: none;
                color: black;
            }
        }
    }
}

footer {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5%;
    margin-top: 10vh;
    section {
        margin: 2vh;
        label {
            color: white;
            font-size: 24px;
            font-weight: 600;
        }
        a, p {
            text-decoration: none;
            color: white;
        }
    }
    .sitemap, .contact {
        grid-column: 1;
    }
    .social {
        grid-column: 2;
    }
    .copy {
        margin: 2vh 0 0 0;
        text-align: center;
        color: white;
        font-size: 14px;
        grid-column: 1/3;
        grid-row: 3;
    }
}

/*****
Desktop
******/

@media only screen and (min-width: 768px) {
    nav {
        margin-top: 0;
        height: 10vh;

        a {
           align-self: center; 
        }

        #burger {
            display: none;
            justify-content: space-evenly;
        }

        .nav_links {
            display: flex;
            li {
                list-style: none;
                display: flex;
                position: relative;
                a {
                    text-decoration: none;
                    color: black;
                    margin: auto 10px;
                    font-weight: 500;
                }

                a::before {
                    content: '';
                    display: block;
                    height: 4px;
                    background: black;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    transform-origin: left;
                    transform: scale(0, 1);
                    transition: all 200ms linear;
                }

                a:hover::before {
                    transform: scale(1, 1);
                }
            }
        }
    }

    main {
        margin-top: auto;

        .title-block {
            margin-top: 0;
            display: grid;
            grid-template-columns: 25vw auto;
            margin-left: 5%;

            .img-container {
                grid-column: 2;
                grid-row: 1;
                height: 90vh;
                overflow: hidden;

                .heroimg {
                    width: 100vw;
                }
            }

            .cta-container {
                grid-column: 1;
                grid-row: 1;
                margin: 45% 0;
                .title {
                    text-align: left;
                    font-size: 3vw;
                }
                button {
                    margin: 0;
                    margin-top: 8%;
                    font-size: 1.2vw;
                    width: 8vw;
                    height: 5vh;
                }
            }
        }

        .packages {
            margin-top: 5vh;
        }
        .contact {
            margin-top: 5vh;
        }
        
    }
}


/*****************************************************************************************
                                         REGISTRATION PAGE
*****************************************************************************************/
.reglabel {
    width: 90%;
    margin: 5% auto auto auto;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 2% auto auto auto;
    form {
        display: flex;
        flex-wrap: wrap;
        section {
            flex-basis: 90vw;
            input {
                width: 100%;
                border: solid black 2px;
                padding: 6px;
                margin: 8px 0;
            }
        }

        .terms {
            width: 90vw;
            font-size: 14px;
            margin: 2vh auto 2vh 4vw;
        }

        .regsubmit {
            border: none;
            background-color: black;
            color: white;
            font-weight: 500;
            font-size: 18px;
            padding: 6px;
        }
    }

    .regdownload {
        text-align: center;
        margin: 10% auto 0 auto;
        a {
            color: black;
        }
    }
}

@media(min-width: 768px) {
    .form-container {
        form {
            width: 60vw;
            section {
                flex-basis: 24vw;
                margin: 10px;
            }

            .terms {
                margin: 2vh auto 2vh 2vw;
            }
    
        }

        
        .regdownload {
            width: 20vw;
        }
    }
}
